<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="JottingUML"
			extensions="jul"
			icon="icons/jul.png"
			contributorClass="org.kotemaru.eclipse.browsereditor.ActionContributor"
			class="org.kotemaru.eclipse.browsereditor.generic.BrowserEditor"
			id="org.kotemaru.eclipse.jottinguml.BrowserEditor">
		</editor>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.kotemaru.eclipse.browsereditor.generic.Preference"/>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			category="JottingUML"
			class="org.kotemaru.eclipse.browsereditor.generic.NewWizard"
			icon="icons/jul.png"
			id="org.kotemaru.eclipse.jottinguml.NewWizaed"
			name="JottingUML">
		</wizard>
	</extension>

</plugin>
